{% extends 'base.html.twig' %}
{% block body %}
    <div id="header" class="header">
        <ul class="menu">
            <li><a>about</a></li>
            <li><a>Examens</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="logo">
            <p class="first">ETUDIANT</p>
            <p class="last"> . DZ</p>
        </div>
    </div>
    <div id="test" class="wrapper">
        <div class="title">- ABOUT -</div>
        <div class="ui horizontal icon divider">
            <div class="circular terminal icon"></div>
        </div>
        <p> hadha makhessek oussama jayebli semana wanta t3ayate 3la css</p>
    </div>
{% endblock %}